#Commands {
  background: var(--background-claro);
  display: block;
  min-height: 100vh;
}

#Commands main {
  width: 100%;
  padding: 1rem;
}

#Commands main .container-command-previews {
  padding: 0rem 1rem 0.5rem;
  border-bottom: 2px solid var(--cinza);
}